---
http_interactions:
- request:
    method: get
    uri: https://rest.tsheets.com/api/v1/users?page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer S.3__b71d2047fe9ad7e4c950674eb1276982f28384de
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n \"results\": {\n  \"users\": {\n   \"459373\": {\n    \"id\": 459373,\n
        \   \"first_name\": \"ALEXANDER\",\n    \"last_name\": \"DONAGHY\",\n    \"group_id\":
        45523,\n    \"active\": true,\n    \"employee_number\": 0,\n    \"salaried\":
        false,\n    \"exempt\": false,\n    \"username\": \"adonaghy\",\n    \"email\":
        \"alexndonaghy@gmail.com\",\n    \"email_verified\": false,\n    \"payroll_id\":
        \"\",\n    \"hire_date\": \"2016-12-15\",\n    \"term_date\": \"0000-00-00\",\n
        \   \"last_modified\": \"2017-08-28T10:39:47+00:00\",\n    \"last_active\":
        \"2017-09-02T16:08:24+00:00\",\n    \"created\": \"2016-12-16T20:39:13+00:00\",\n
        \   \"client_url\": \"servpromedfordny\",\n    \"company_name\": \"Servpromedfordny\",\n
        \   \"profile_image_url\": \"https:\\/\\/www.gravatar.com\\/avatar\\/e0fa955c7caf14d364fc7c7c064fe75d\",\n
        \   \"mobile_number\": \"\",\n    \"pto_balances\": {\n     \"3293958\": 0,\n
        \    \"3293960\": 0,\n     \"3293962\": 0,\n     \"10964327\": 0\n    },\n
        \   \"submitted_to\": \"2017-08-27\",\n    \"approved_to\": \"2017-08-27\",\n
        \   \"manager_of_group_ids\": [\n     \n    ],\n    \"require_password_change\":
        true,\n    \"pay_rate\": 0,\n    \"pay_interval\": \"hour\",\n    \"permissions\":
        {\n     \"admin\": false,\n     \"mobile\": true,\n     \"status_box\": true,\n
        \    \"reports\": true,\n     \"manage_timesheets\": false,\n     \"manage_authorization\":
        false,\n     \"manage_users\": false,\n     \"manage_my_timesheets\": false,\n
        \    \"manage_jobcodes\": false,\n     \"pin_login\": true,\n     \"approve_timesheets\":
        false,\n     \"manage_schedules\": false,\n     \"external_access\": false,\n
        \    \"manage_my_schedule\": false,\n     \"manage_company_schedules\": false,\n
        \    \"view_company_schedules\": false,\n     \"view_group_schedules\": false,\n
        \    \"manage_no_schedules\": true,\n     \"view_my_schedules\": false\n    },\n
        \   \"customfields\": \"\"\n   },\n   \"849718\": {\n    \"id\": 849718,\n
        \   \"first_name\": \"AMY\",\n    \"last_name\": \"ERHARDT\",\n    \"group_id\":
        46740,\n    \"active\": true,\n    \"employee_number\": 0,\n    \"salaried\":
        false,\n    \"exempt\": false,\n    \"username\": \"aerhardt@servpro5933.com\",\n
        \   \"email\": \"aerhardt@servpro5933.com\",\n    \"email_verified\": true,\n
        \   \"payroll_id\": \"\",\n    \"hire_date\": \"2017-06-26\",\n    \"term_date\":
     [...]
[...]
