---
http_interactions:
- request:
    method: get
    uri: https://rest.tsheets.com/api/v1/timesheets?start_date=2016-06-06&user_ids=459375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer S.3__b71d2047fe9ad7e4c950674eb1276982f28384de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n \"results\": {\n  \"timesheets\": {\n   \"16504328\": {\n    \"id\":
        16504328,\n    \"user_id\": 459375,\n    \"jobcode_id\": 9285190,\n    \"start\":
        \"2017-02-07T09:37:00-05:00\",\n    \"end\": \"2017-02-07T09:38:00-05:00\",\n
        \   \"duration\": 60,\n    \"date\": \"2017-02-07\",\n    \"tz\": -5,\n    \"tz_str\":
        \"tsET\",\n    \"type\": \"regular\",\n    \"location\": \"TSheets iPhone
        App\",\n    \"on_the_clock\": false,\n    \"locked\": 2,\n    \"notes\": \"\",\n
        \   \"customfields\": {\n     \"33849\": \"Yes\",\n     \"33853\": \"CENTRAL
        MANHATTAN\",\n     \"33851\": \"DIRECT CLEANING\"\n    },\n    \"last_modified\":
        \"2017-02-07T14:37:49+00:00\"\n   },\n   \"16504482\": {\n    \"id\": 16504482,\n
        \   \"user_id\": 459375,\n    \"jobcode_id\": 9285030,\n    \"start\": \"2017-02-07T09:38:00-05:00\",\n
        \   \"end\": \"2017-02-07T12:13:00-05:00\",\n    \"duration\": 9300,\n    \"date\":
        \"2017-02-07\",\n    \"tz\": -5,\n    \"tz_str\": \"tsET\",\n    \"type\":
        \"regular\",\n    \"location\": \"TSheets iPhone App\",\n    \"on_the_clock\":
        false,\n    \"locked\": 2,\[...]
