---
http_interactions:
- request:
    method: get
    uri: https://rest.tsheets.com/api/v1/timesheets?start_date=2016-06-06&user_ids=218514
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer S.3__b71d2047fe9ad7e4c950674eb1276982f28384de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n \"results\": {\n  \"timesheets\": {\n   \"2853171\": {\n    \"id\":
        2853171,\n    \"user_id\": 218514,\n    \"jobcode_id\": 0,\n    \"start\":
        \"2016-10-06T16:06:38-04:00\",\n    \"end\": \"2016-10-06T16:15:31-04:00\",\n
        \   \"duration\": 533,\n    \"date\": \"2016-10-06\",\n    \"tz\": -4,\n    \"tz_str\":
        \"America\\/New_York\",\n    \"type\": \"regular\",\n    \"location\": \"TSheets
        iPhone App\",\n    \"on_the_clock\": false,\n    \"locked\": 0,\n    \"notes\":
        \"\",\n    \"customfields\": {\n     \"33849\": \"\",\n     \"33853\": \"\",\n
        \    \"33851\": \"\"\n    },\n    \"last_modified\": \"2016-10-06T20:15:33+00:00\"\n
        \  },\n   \"2854137\": {\n    \"id\": 2854137,\n    \"user_id\": 218514,\n
        \   \"jobcode_id\": 0,\n    \"start\": \"2016-10-06T16:15:32-04:00\",\n    \"end\":
        \"2016-10-07T00:00:00-04:00\",\n    \"duration\": 27868,\n    \"date\": \"2016-10-06\",\n
        \   \"tz\": -4,\n    \"tz_str\": \"America\\/New_York\",\n    \"type\": \"regular\",\n
        \   \"location\": \"TSheets iPhone App\",\n    \"on_the_clock\": false,\n
        \   \"loc[...]
