<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor_upload_type.name %>
</p>

<%= link_to 'Edit', edit_vendor_upload_type_path(@vendor_upload_type) %> |
<%= link_to 'Back', vendor_upload_types_path %>
