<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>, you have been added as a subscriber to job <%= @job.name %>.</h1>
    <p>
      Click <a href="http://digitaljobchart.net/jobs/<%= @job.id %>">here</a> to view the details.
    </p>
  </body>
</html>
