<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>,<%= @job.name %> has been moved to inoived</h1>
    <p>
      Click <a href="http://digitaljobchart.com/jobs/<%= @job.id %>">here</a> to view the details.
    </p>
  </body>
</html>
