<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>, you have been assigned to a new job.</h1>
    <p>
      Please click <a href="http://servcrm.herokuapp.com/jobs/<%= @job.id %>">here</a> to view the job details.
    </p>
  </body>
</html>
