<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>, you have been mentioned on a job.</h1>
    <p>
      Click <a href="http://digitaljobchart.com/jobs/<%= @job.id %>>">here</a> to view the details.
    </p>
    <p>
    </p>
  </body>
</html>
