<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor_category.name %>
</p>

<%= link_to 'Edit', edit_vendor_category_path(@vendor_category) %> |
<%= link_to 'Back', vendor_categories_path %>
