<p id="notice"><%= notice %></p>

<div id="calendar"></div>


<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            navLinks: true,
            navLinkDayClick: function (date, jsEvent) {
                console.log('day', date.format());
                window.location.href = "<%= ENV['ROOT_URL'] %>/oncalls?date=" + date.format();
            },
            eventSources: [
              '/oncalls'
          ]
        })
    });
</script>
