<%= form_for @job do |f| %>

<div class="col-xs-6 col-xs-offset-3">
    <div class="form-group">
      <%= f.label :job_manager_id %>
      <%= f.collection_select :job_manager_id, User.all, :id, :full_name, {prompt: true},  { class: 'form-control'} %>
    </div>

</div>
<div class="col-xs-12 text-center">
    <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
    </div>
</div>
<% end %>
