<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>New Job</h1>
                </div>
                <div class="col-xs-12">
                  <%= form_for(:call) do |f| %>
                  <%= f.collection_select :id, Call.where(inprogress: "true"), :id, :customer_phone_number, {prompt: true},  { class: 'form-control'} %>
                  <% end %>
                </div>
              <%= render 'form' %>
            </div>
        </div>
    </div>
</div>



<%= link_to 'Back', jobs_path %>
