<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>New Call</h1>
                </div>
                <div class="col-xs-12 new-call-script">
                  New call script can be placed here.

                  File found in "app/views/jobs/new.html.erb"

                  <ul>
                    <li>Sample item 1</li>
                    <li>Sample item 2</li>
                    <li>Sample item 3</li>
                  </ul>
                </div>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>

<%= link_to 'Back', jobs_path %>
