<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @affected_type.name %>
</p>

<%= link_to 'Edit', edit_affected_type_path(@affected_type) %> |
<%= link_to 'Back', affected_types_path %>
