<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Notifications</h1>

      <div class="notification-container">
      <ul class="notifications">
        <% @notifications.each do |notification| %>
        <li class="notification">
            <div class="media">
              <div class="media-left">
                <div class="media-object">
                  <!-- <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name"> -->
                </div>
              </div>
              <div class="media-body">
                <strong class="notification-title"><%= link_to "Job", job_path(notification.job_id)%></strong>
                <p class="notification-desc"><%= notification.notify_text %></p>

                <div class="notification-meta">
                  <small class="timestamp"><%= notification.created_at %></small>
                </div>
              </div>
            </div>
        </li>
        <% end %>
      </ul>
      </div>

    </div>
  </div>
</div>
