<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Calls</div>
      <div class="panel-body">
        <table
          data-toggle="table"
          data-url="calls"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-columns="true"
          data-search="true"
          data-flat="true"
          data-select-item-name="toolbar1"
          data-pagination="true"
          data-sort-name="id"
          data-sort-order="desc">
          <thead>
            <tr>
              <th data-field="id" data-sortable="true" data-sort-order='desc' data-formatter="CallLinkFormatter">Call ID</th>
              <th data-field="callrail_id" data-sortable="true">CallRail ID</th>
              <th data-field="datetime" data-sortable="true">Call Date</th>
              <th data-field="customer_phone_number" data-sortable="true">Customer Phone Number</th>
              <th data-field="customer_name" data-sortable="true">Customer Name</th>
              <th data-field="utm_campaign" data-sortable="true">UTM Campaign</th>
              <th data-field="duration" data-sortable="true">Duration</th>
              <th data-field="job_id" data-sortable="true" data-formatter="JobLinkFormatter">Asssociated Job ID</th>

            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New Call', new_call_path %>
