<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Calls</div>
      <div class="panel-body">
        <%= render partial: 'datatables/calls', locals: {
          columns: [
            :id,
            :callrail_id,
            :datetime,
            :customer_phone_number,
            :customer_name,
            :customer_city,
            :utm_campaign,
            :duration,
            :job_id
          ]}
        %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New Call', new_call_path %>
