<!-- <div class="col-sm-12 col-lg-12 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<svg class="glyph stroked home">
						<use xlink:href="#stroked-home"></use>
					</svg>
				</a>
			</li>
			<li class="active">Dashboard</li>
		</ol>
	</div> -->
<!--/.row-->
<section id="home">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header text-center">Dashboard</h1>
		</div>
	</div>
	<!--/.row-->

	<div class="row">
		<%= link_to new_job_path do %>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-blue panel-widget ">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<i class="glyph-dash glyphicon glyphicon-plus" aria-hidden="true"></i>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div class="large">New Call</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<%= link_to job_search_path do %>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-red panel-widget">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<i class="glyph-dash glyphicon glyphicon-search" aria-hidden="true"></i>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div class="large">Log Book</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-orange panel-widget">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<i class="glyph-dash glyphicon glyphicon-info-sign" aria-hidden="true"></i>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
						<div class="large">Wiki</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/.main-->
</section>

<script>
function LinkFormatter(value, row, index) {
	return "<a href='jobs/" + row.id + "'>" + value + "</a>";
}
</script>
