<div class="container-fluid">
    <div id="wrapper">
      <% if params[:job_id] %>
        <%= render partial: "partials/jobs_sidebar" %>
      <% end %>
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>Editing Customer</h1>
                        </div>
                        <%= render 'form' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
