<div class="container-fluid">
  <% if params[:job_id] %>
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
      <% end %>
      <% if params[:job_id] %>
        <div id="page-content-wrapper">
      <% end %>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>Editing Customer</h1>
                        </div>
                        <%= render 'form' %>
                    </div>
                </div>
            </div>
            <% if params[:job_id] %>
        </div>

      </div>
      <% end %>
</div>
