<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>New Customer</h1>
    </div>
    <%= render 'form' %>

    <div class="col-xs-12">
      <%= link_to 'Back', customers_path %>
    </div>
  </div>
</div>
