<div class="container-fluid">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Editing Agent</h1>
            </div>
            <%= render 'form' %>
        </div>
    </div>
    <%= render partial: "partials/jobs_right_sidebar" %>
</div>
