<div class="col-xs-12 margin-top-2">
  <div class="form-group referrals">
    <%= f.label :referral_type_id %><br>
    <% f.collection_select :referral_type_id, ReferralType.root, :id, :name, { prompt: true }, { class: 'form-control' } %>
    <%= f.collection_radio_buttons(:referral_type_id, ReferralType.root, :id, :name) do |b| %>
        <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %>
    <% end %> <br/>

  </div>
</div>

<%= render partial: 'custom_fields', locals: {f: f} %>
