<div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
<% if current_user.admin? %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Editing Franchise</h1>
                </div>
              <%= render 'form' %>
            </div>
        </div>
    </div>
  <% end %>
</div>
