<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @upload_category.name %>
</p>

<%= link_to 'Edit', edit_upload_category_path(@upload_category) %> |
<%= link_to 'Back', upload_categories_path %>
