<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Service Alliance, <%= @caller.first_name %></h1>
    <p>
      Thank you for calling.
    </p>
  </body>
</html>
