<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @corporate_referral_type.name %>
</p>

<%= link_to 'Edit', edit_corporate_referral_type_path(@corporate_referral_type) %> |
<%= link_to 'Back', corporate_referral_types_path %>
