<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% job_managers.each do |manager| %>
      <tr>
        <td><%= manager.job_manager.full_name %></td>
        <td><%= manager.job_manager.phone_numbers.join('<br />').html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
