<div class="nested-fields">
  <div class="row">
    <%= f.input :crew_chief_ids, collection: User.with_role('Crew Chief'), label_method: :full_name, input_html: { multiple: true, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-6' }, label: 'Crew Chief(s)' %>
    <%= f.input :technician_ids, collection: User.with_role('Technician'), label_method: :full_name, input_html: { multiple: true, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-6' }, label: 'Technician(s)' %>
  </div>
  <div class="row">
    <%= f.input :vendor_id, collection: Vendor.order(:name), label_method: :name, input_html: { multiple: false, class: 'select-control form-control', style: 'width: 100%' }, wrapper_html: { class: 'col-sm-12' }, label: 'Vendors/Sub-Contractor' %>
  </div>
  <hr />
</div>
