<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>Update Work Order</h1>
                    </div>
                    <div class="col-xs-12">
                        <div class="row content-box">
                            <%= render 'form' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
