<div class="container-fluid">

  <section id="home">
    <div class="row">

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Work Orders for Job <%= @job.name || @job.id %></div>
          <div class="panel-body">
            <div class="alert alert-info">
              <%= link_to "Click here", @job %> to return to the job
            </div>
            <div>
              <%= link_to new_job_work_order_path(@job), class: 'btn btn-primary' do %>
                <i class="fa fa-plus"></i> New Work Order
              <% end %>
            </div>
            <%= render partial: 'datatables/work_orders', locals: {
              filter: "job_id=#{@job.id}",
              columns: [
                :created_at,
                :updated_at,
                :id,
                :state,
                :job_start,
                :job_id,
                :job_name,
                :typed_by,
                :contact,
                :telephone,
                :job_location,
                :vendor_name,
                :crew_names,
                :referral,
                :estimated_hours,
                :number_of_crew_chiefs,
                :number_of_technicians
              ]}
            %>
        </div>
      </div>
    </div>
  </section>
</div>
