<div class="container-fluid">
    <div id="wrapper">
        <%= render partial: "partials/jobs_sidebar" %>
        <div id="page-content-wrapper">
            <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
            <% end %>
            <div class="col-xs-12">
                <h1 class="text-center">Uploads/Files:</h1>
                <h2><%= link_to "New Upload", new_job_upload_path(@job) %></h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Uploads/Files</div>
                    <div class="panel-body">
                        <table
                            data-toggle="table"
                            data-url="uploads"
                            data-show-refresh="true"
                            data-show-toggle="true"
                            data-show-columns="true"
                            data-search="true"
                            data-flat="true"
                            data-select-item-name="toolbar1"
                            data-pagination="true"
                            data-sort-name="name"
                            data-sort-order="desc">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true">Upload ID</th>
                                    <th data-field="upload_category.name" data-sortable="true">Upload Cateogry</th>
                                    <th data-field="id" data-sortable="true">Upload ID</th>
                                    <th data-field="file_name" data-sortable="true">Name</th>
                                    <th data-field="upload.url" data-formatter="LinkFormatter" data-sortable="true">Link</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        function LinkFormatter(value, row, index) {
            return "<a href=" + value + ">View/Download</a>";
        }
    </script>
