<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pricing_category.name %>
</p>

<%= link_to 'Edit', edit_pricing_category_path(@pricing_category) %> |
<%= link_to 'Back', pricing_categories_path %>
