<h1>Editing Inspection Checklist</h1>

<%= render 'form' %>

<%= link_to 'Show', job_inspection_checklist_path(@job, @inspection_checklist) %> |
<%= link_to 'Back', job_inspection_checklists_path(@job) %>
